{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="favicon.ico">
		<title>briteleader</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/animate.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome-font-awesome.min.css' %}">
		<link href="{% static 'frontend/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/jquery.mCustomScrollbar.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/responsive.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/animate/animate.min.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</head>

	<body class="sign-in">
		<header id="header" class="fixed-top">
			<div class="container">
		
			  <div class="">
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
				<a href="#intro" class="scrollto"><img src="/static/frontend/images/cm-logo1.png" alt="" class="img-fluid"></a>
			  </div>
			 
			  <nav class="main-nav float-right d-none d-lg-block">
				<ul>
				  <li class="active"><a href="/signin" style='color: #ffffff;font-size: 16px;border: 1px solid #fff;padding: 5px 15px;border-radius: 9px;'>Join Now</a></li>
				 
				</ul>
			  </nav><!-- .main-nav -->
			  
			</div>
		  </header>
		<div class='wrapper'>
			<div class='wel-body'>
				<div class = 'wel-banner'>
					<div class = 'row banner-text'>
						<div class = 'col-lg-8'>
							 <h3>World's largest freelancing and job portal </h3>
							 <h3>social networking marketplace.</h3>
							 <p>We connect over 3 Million employers and freelancers globally from over 237 </p>
							  <p>   countries, regions, and territories</p>
						</div>
						 
 
					</div>
					 <img src='/static/frontend/images/banner/plane-1 (11).jpg'/>
				</div>
				<section id="about">
					 <div class="container">
						 <div class="row about-container">
 
						 <div class="col-lg-6 content order-lg-1 order-2">
							 <p class='dg-p'>
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							 </p>
 
							 <div class="icon-box wow fadeInUp">
							 <div class="icon"><i class="fa fa-shopping-bag"></i></div>
							 <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
							 <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
							 </div>
 
							 <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
							 <div class="icon"><i class="fa fa-photo"></i></div>
							 <h4 class="title"><a href="">Magni Dolores</a></h4>
							 <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							 </div>
 
							 <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
							 <div class="icon"><i class="fa fa-bar-chart"></i></div>
							 <h4 class="title"><a href="">Dolor Sitema</a></h4>
							 <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
							 </div>
 
						 </div>
 
						 <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
							 <img src="/static/frontend/images/banner/pilote.png" class="img-fluid" alt=""/>
						 </div>
						 </div>
 
						 <div class="row about-extra">
						 <div class="col-lg-6 wow fadeInUp">
							 <img src="/static/frontend/images/banner/pilote1.png" class="img-fluid" alt=""/>
						 </div>
						 <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
							 <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
							 <p>
							 Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
							 </p>
							 <p>
							 Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
							 </p>
						 </div>
						 </div>
 
						 <div class="row about-extra">
						 <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
							 <img src="/static/frontend/images/banner/pilote2.png" class="img-fluid" alt=""/>
						 </div>
 
						 <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
							 <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
							 <p>
							 Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. 
							 </p>
							 <p>
							 Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
							 </p>
							 <p>
							 Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
							 </p>
						 </div>
						 
						 </div>
 
					 </div>
					 </section>
				<section id="services" class="section-bg">
				 <div class="container">
					 <div class="row">
						 <div class = 'col-lg-12 how-head wow bounceInUp'data-wow-duration="1.4s">
							 <h3>How it works</h3>
						 </div>
					 <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class = 'fas fa-edit'></i> </div>
						 <h4 class="title"><a href="">Job Posting</a></h4>
						 <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						 </div>
					 </div>
					 <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class="fas fa-address-book"></i></div>
						 <h4 class="title"><a href="">Contact list</a></h4>
						 <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
						 </div>
					 </div>
 
					 <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class="fas fa-mail-bulk"></i></div>
						 <h4 class="title"><a href="">Send Message</a></h4>
						 <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
						 </div>
					 </div>
					 <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class="fab fa-amazon-pay"></i></div>
						 <h4 class="title"><a href="">Payment</a></h4>
						 <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
						 </div>
					 </div>
 
					 <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class="far fa-file-pdf"></i></div>
						 <h4 class="title"><a href="">New Docments</a></h4>
						 <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
						 </div>
					 </div>
					 <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
						 <div class="box">
						 <div class="icon"><i class="fas fa-passport"></i></div>
						 <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
						 <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
						 </div>
					 </div>
 
					 </div>
 
				 </div>
				 </section>
				 <section id="why-us" class="wow fadeIn">
					 <div class="container">
						 <header class="section-header">
						 <h3>Why choose us?</h3>
						 <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
						 </header>
 
						 <div class="row row-eq-height justify-content-center">
 
						 <div class="col-lg-4 mb-4">
							 <div class="card wow bounceInUp">
								 <i class="fas fa-users"></i>
							 <div class="card-body">
								 <h5 class="card-title">Corporis dolorem</h5>
								 <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
								 <a href="#" class="readmore">Read more </a>
							 </div>
							 </div>
						 </div>
 
						 <div class="col-lg-4 mb-4">
							 <div class="card wow bounceInUp">
							 <i class="fa fa-diamond"></i>
							 <div class="card-body">
								 <h5 class="card-title">Voluptates dolores</h5>
								 <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
								 <a href="#" class="readmore">Read more </a>
							 </div>
							 </div>
						 </div>
 
						 <div class="col-lg-4 mb-4">
							 <div class="card wow bounceInUp">
								 <i class="fa fa-object-group"></i>
							 <div class="card-body">
								 <h5 class="card-title">Eum ut aspernatur</h5>
								 <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
								 <a href="#" class="readmore">Read more </a>
							 </div>
							 </div>
						 </div>
 
						 </div>
 
						 <div class="row counters">
 
						 <div class="col-lg-3 col-6 text-center">
							 <span data-toggle="counter-up">274</span>
							 <p>Clients</p>
						 </div>
 
						 <div class="col-lg-3 col-6 text-center">
							 <span data-toggle="counter-up">421</span>
							 <p>Jobs</p>
						 </div>
 
						 <div class="col-lg-3 col-6 text-center">
							 <span data-toggle="counter-up">1,364</span>
							 <p>Hours Of Support</p>
						 </div>
 
						 <div class="col-lg-3 col-6 text-center">
							 <span data-toggle="counter-up">18</span>
							 <p>Hard Workers</p>
						 </div>
				 
						 </div>
 
					 </div>
					 </section>
			 </div>
		</div>

		
		<script type="text/javascript" src="{% static 'frontend/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/popper.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/jquery.mCustomScrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/scrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>

		<script type="text/javascript" src="{% static 'frontend/lib/wow/wow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/main.js' %}"></script>
	</body>
</html>
