<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		{% if token is not None %}
		<meta id="token" name="token" value="{{token}}">
		{% endif %}
		<link rel="icon" href="favicon.ico">
		<title>briteleader</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/animate.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome-font-awesome.min.css' %}">
		<link href="{% static 'frontend/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/flatpickr.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/jquery.mCustomScrollbar.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/animate/animate.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/responsive.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</head>
	<body>
		<noscript>
			<strong>We're sorry but briteleader doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id="app"></div>
		<script src="https://js.stripe.com/v3/"></script>
		<script type="text/javascript" src="{% static 'frontend/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/popper.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/jquery.mCustomScrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/flatpickr.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/wow/wow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/main.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/scrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>
	</body>
</html>
