{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="favicon.ico">
		<title>briteleader</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/animate.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/line-awesome-font-awesome.min.css' %}">
		<link href="{% static 'frontend/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/jquery.mCustomScrollbar.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/lib/slick/slick-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/responsive.css' %}">
		</head>
<body class="sign-in">
	<div class="wrapper">		
		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<img src="{% static 'frontend/' %}images/cm-logo.png" alt="">
									<p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
								</div><!--cm-logo end-->	
								<img src="{% static 'frontend/' %}images/cm-main-img.png" alt="">			
							</div><!--cmp-info end-->
						</div>
						<div class="col-lg-6">
							<div id="login"></div>
						</div>
					</div>		
				</div><!--signin-pop end-->
			</div><!--signin-popup end-->
			<div class="footy-sec">
				<div class="container">
					<ul>
						<li><a href="help-center.html" title="">Help Center</a></li>
						<li><a href="about.html" title="">About</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Community Guidelines</a></li>
						<li><a href="#" title="">Cookies Policy</a></li>
						<li><a href="#" title="">Career</a></li>
						<li><a href="forum.html" title="">Forum</a></li>
						<li><a href="#" title="">Language</a></li>
						<li><a href="#" title="">Copyright Policy</a></li>
					</ul>
					<p><img src="{% static 'frontend/' %}images/copy-icon.png" alt="">Copyright 2019</p>
				</div>
			</div><!--footy-sec end-->
		</div><!--sign-in-page end-->


	</div><!--theme-layout end-->

		
		<script type="text/javascript" src="{% static 'frontend/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/popper.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/jquery.mCustomScrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/lib/slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/scrollbar.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>
</body>
</html>
